{
  "presets": [
    ["@babel/preset-env", { "modules": true }],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    ["styled-components", { "ssr": true }],
    "@babel/transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", { "modules": "auto" }],
        "@babel/react",
        "@babel/typescript"
      ],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-class-properties",
        ["styled-components", { "ssr": true }]
      ]
    }
  }
}
